/*css intestazione*/
#background{
    background-color: rgb(66, 162, 201);
    height: 70px;
    background-image: url(../img/pattern.png);
    background-size: 270px;
}

.logo{
    width: 100px;
    height: 100px;
}
/*fine css intestazione*/
#title{
    margin: 0;
    padding-top: 10px;
}

#span-gray{
    color: gray;
    font-weight: bold;
}
#span-skyblue{
    color: skyblue;
    font-weight: bold;
}
#date{
    color: gray;
    margin: 0;
    padding-bottom: 15px;
}
.Tim{
    width: 443px;
    height: 262px;
}
#no-margin{
    margin: 0;
}
/*terminata parte con foto*/



.lorem{
    background-color: yellow;
}
#liste{
    padding-left: 15px;
}
/*terminata parte prima tabella*/